@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.6rem;
  /* width: 100%; */
  /* height: 100vh; */
  padding-bottom: 2rem;
}

.App {

  overflow: hidden;
}

/* ! COLOR THEMES */

:root {
  --primary: #3d332a;
  --secondary: #4a3e34;
  --tertiary: #9a8a78;
  --key: #ffb119;
  --accent: #f5dec3;
}

/* ? START OF NAVBAR SECTION */

.nav-bar {
  z-index: 99;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.nav-list {
  padding: 0 2rem;
  margin-inline: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px groove var(--accent);
}

.nav-item {
  width: 14.5rem;
}

.nav-item:last-child {
  margin-left: auto;
  border-right: none;
  width: 20rem;
}

.nav-item a {
  display: block;
  color: var(--accent);
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.search-input {
  color: var(--accent);
  background-color: transparent;
  border: 1px groove var(--tertiary);
  padding: 5px;
}

.search-input:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 120px;
  background-color: var(--accent);
  color: var(--primary);
  text-align: center;
  border-radius: 2px;
  padding: 0.3rem;
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  margin-top: 10px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ! END OF NAVBAR SECTION*/

/* ? START OF SLIDER SECTION */
/* Döntsük el és alakítsuk ki később pls */
/* ! END OF SLIDER SECTION */

/* ? START OF BACKGROUND SECTION */

#background {
  background-color: var(--secondary);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#mainframe {
  position: relative;
  background-color: var(--primary);
  width: 90%;
  /* display: flex;
  justify-content: center; */
}

.noise {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #3d332a, #4a3e3400),
    url("src/assets/grain-wall-pattern.svg");
  background-repeat: repeat;
  filter: contrast(70%) brightness(80%) invert(5%) opacity(15%) sepia(60%)
    saturate(50%) contrast(110%);
}

/* ! END OF BACKGROUND SECTION */

/* ? START OF IMAGE GRID SECTION */

#image-grid {
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  padding: 7.5rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5rem;
  column-gap: 3rem;
}

.image-card {
  /* border: solid 1px red; */
  padding: 5px;
  /* flex: 0 0 290px; */
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0.5rem;
}

.image-card img {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-bottom: auto; */
}

.image-card-middle {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.image-card-maininfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.image-card-title {
  /* background-color: firebrick; */
  color: var(--key);
  text-align: left;
  font-weight: bolder;
  font-size: 1.6rem;
}

.image-card-author {
  color: var(--tertiary);
  font-weight: bold;
  font-size: 1.7rem;
}

.image-card-download-button {
  background-color: var(--accent);
  border-radius: 3px;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.5rem;
  align-self: flex-end;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-card-download-button:hover {
  cursor: pointer;
  /* https://getcssscan.com/css-box-shadow-examples #36 */
  box-shadow: var(--accent) 0px 1px 3px 0px,
    rgba(195, 200, 91, 0.06) 0px 1px 2px 0px;
}

.image-card-text-holder {
  width: 100%;
}

.image-card-image {
  background-color: rgb(80, 57, 80);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.image-card-buttons{
  display: flex;
}

/* ! END OF IMAGE GRID SECTION */

/* ? START OF MEDIA QUERY SECTION */

/* ? ami e lentieknél nagyobb felbontás, arra változatlanul a fenti css kód érvényes */
/* * tablet nézet: */
@media screen and (max-width: 1000px) {
  .image-card {
    width: 45%;
  }
}

/* * mobil nézet: */
@media screen and (max-width: 500px) {
  .nav-list {
    padding: 0 1rem;
  }

  .nav-item a {
    font-size: 1.4rem;
    padding: 1.2rem 0.8rem;
  }

  .image-card {
    width: 100%;
  }
}

/* ! END OF MEDIA QUERY SECTION */

/* ? START OF IMAGEDETAILS (Single Card) SECTION */

#single-card-blur {
  background-color: rgba(61, 51, 42, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 50px;
  z-index: 1;
  left: 0;
  top: 0;
  font-size: 1.2rem;
}

#single-card-background {
  position: relative;
  background-color: var(--tertiary);
  width: 80%;
  height: 90%;
  padding: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
}

#single-card-close-button {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  align-self: flex-end;
  border: none;
  background-color: var(--tertiary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

#single-card-img-container {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

#single-card-img-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#single-card-text-container {
  width: 50%;
  padding: 3px;
  font-family: "Sorts Mill Goudy", serif;
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#single-card-main-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-card-title-span {
  color: var(--key);
}

#single-card-details-container {
  /* background-color: aqua; */
  /* padding-left: 2rem; */
  font-size: 1.3rem;
}

#single-card-details-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#single-card-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 6rem 0;
}

.single-card-button {
  display: flex;
  height: 3rem;
  width: 3rem;
}

.image-card-details-btn {
  background-color: var(--accent);
  border-radius: 3px;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.5rem;
  align-self: flex-end;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-card-details-btn:hover{
  cursor: pointer;
  box-shadow: var(--accent) 0px 1px 3px 0px,
    rgba(195, 200, 91, 0.06) 0px 1px 2px 0px;
}

/* ! END OF IMAGEDETAILS SECTION */

/* ? START OF IMAGEDETAILS SECTION */

#LandingPage{
  background-image: url(./images/background-n-5846-00-000011-hd.jpg);
  height: 100vh;
  width: 90vw;
  background-size: cover;
  background-repeat: no-repeat;
}

#LandingPage-container{
  height: 100vh;
  width: 90vw;
  padding: 15rem 10rem;
}

#LandingPage-text-main{
  color: var(--tertiary);
  font-size: 10rem;
  font-weight: 700;
}

#LandingPage-text-secondary{
  color: var(--tertiary);
  font-size: 4rem;
  font-weight: 500;
}

/* ! END OF IMAGEDETAILS SECTION */