@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.6rem;
  /* width: 100%; */
  /* height: 100vh; */
  padding-bottom: 2rem;
}

.App {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* ! COLOR THEMES */

:root {
  --primary: #3d332a;
  --secondary: #4a3e34;
  --tertiary: #9a8a78;
  --key: #ffb119;
  --accent: #f5dec3;
}

/* ? START OF NAVBAR SECTION */

.nav-bar {
  z-index: 99;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.nav-list {
  padding: 0 2rem;
  margin-inline: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent);
}

.nav-item {
  width: 14.5rem;
}

.nav-item:last-child {
  margin-left: auto;
  border-right: none;
}

.nav-item a {
  display: block;
  color: var(--accent);
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.search-input {
  padding: 0.4rem;
  color: var(--accent);
  background-color: transparent;
  border: transparent;
}

.search-input:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--accent);
  color: var(--primary);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;


  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*END OF NAVBAR SECTION*/

/* ? START OF SLIDER SECTION */
/* Döntsük el és alakítsuk ki később pls */
/* ! END OF SLIDER SECTION */

/* ? START OF BACKGROUND SECTION */

#background {
  background-color: var(--secondary);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#mainframe {
  background-color: var(--primary);
  width: 90%;
  display: flex;
  justify-content: center;
}

/* ! END OF BACKGROUND SECTION */

/* ? START OF IMAGE GRID SECTION */

#image-grid {
  width: 95%;
  padding: 7.5rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5rem;
  column-gap: 3rem;
}

.image-card {
  /* border: solid 1px red; */
  padding: 5px;
  /* flex: 0 0 290px; */
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0.5rem;
}

.image-card img {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  /* margin-bottom: auto; */
}

.image-card-middle {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.image-card-maininfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.image-card-title {
  /* background-color: firebrick; */
  color: var(--key);
  text-align: left;
  font-weight: bolder;
  font-size: 1.9rem;
}

.image-card-author {
  color: var(--tertiary);
  font-weight: bold;
  font-size: 1.7rem;
}

.image-card-download-button {
  background-color: var(--accent);
  border-radius: 3px;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.5rem;
  align-self: flex-end;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-card-download-button:hover {
  cursor: pointer;
  /* https://getcssscan.com/css-box-shadow-examples #36 */
  box-shadow: var(--accent) 0px 1px 3px 0px,
    rgba(195, 200, 91, 0.06) 0px 1px 2px 0px;
}

.image-card-text-holder {
  width: 100%;
}

.image-card-details {
  color: var(--accent);
  text-align: right;
}

.image-card-details a {
  color: inherit;
  text-decoration: underline;
}

.image-card-image {
  background-color: rgb(80, 57, 80);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

/* ! END OF IMAGE GRID SECTION */

/* ? START OF MEDIA QUERY SECTION */

/* ? ami e lentieknél nagyobb felbontás, arra változatlanul a fenti css kód érvényes */
/* * tablet nézet: */
@media screen and (max-width: 1000px) {
  .image-card {
    width: 45%;
  }
}

/* * mobil nézet: */
@media screen and (max-width: 500px) {
  .nav-list {
    padding: 0 1rem;
  }

  .nav-item a {
    font-size: 1.4rem;
    padding: 1.2rem 0.8rem;
  }

  .image-card {
    width: 100%;
  }
}

/* ! END OF MEDIA QUERY SECTION */


/* ? START OF IMAGEDETAILS (Single Card) SECTION */

#single-card-blur {
  background-color: rgba(61,51,42, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 50px;
  z-index: 1;
  left: 0;
  top: 0;
  font-size: 1.2rem;
}

#single-card-background {
  background-color: var(--tertiary);
  width: 80%;
  height: 90%;
  padding: 2rem;
  margin: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
}

#single-card-img-container {
/* background-color: aqua; */
width: 100%;
height: 100%;

display: flex;
justify-content: center;
}

#single-card-img-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#single-card-text-container {
  width: 50%;
  padding: 3px;
  /* background-color: aqua; */
  /* display: flex;
  flex-direction: column; */
}

#single-card-main-info{
  display: flex;
  flex-direction: column;
}

#single-card-details-text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#single-card-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.single-card-button {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#single-card-close-button {
  display: block;
  position: absolute;
  top: 10%;
  right: 16%;
  align-self: flex-end;
  border: none;
  background-color: var(--tertiary);
  cursor: pointer;
}

/* ! END OF IMAGEDETAILS SECTION */